html, body { height: 99%; width: 99%; }
#centerOuter { height: 99%; width: 99%; display: table; vertical-align: middle; }
#centerInner { position: relative; vertical-align: middle; display: table-cell; }
#centerContent {margin-left: auto; margin-right: auto; position: relative; width: 99%;}
